/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ! RESET CSS */

.global {
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login {
    position: absolute;
    top: 0;
    left: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background: #50E3C2;
}

.profile_img {
    width: 200px;
    margin-bottom: 50px;
}

.profile_text {
    margin-bottom: 25px;
    font-size: 36px;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    background: white;
}

.tile {
    box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    background: white;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile_text {
    text-align: center;
    margin-bottom: 25px;
}

.tile_note {
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: #50E3C2;
}

.action {
    font-size: 30px;
    border: none !important;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #a6a6a6;
    width: 50px;
    height: 50px;
}

.action_container {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
}

.task {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 5px 0;
    border: 1px solid #50E3C2;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.3s all;
}

.input:focus {
    outline: none;
    border: 1px solid #50E3C2;
    background: #50E3C2;
    color: white;
    border-radius: 10px;
}

.validate {
    position: absolute;
    bottom: -25px;
    transition: 0.3s all;
    border-radius: 10px;
    border: 1px solid #50E3C2;
    background: #50E3C2;
    color: white;
    height: 50px;
    width: 100px;
}

.validate:hover {
    background: white;
    color: #50E3C2;
}